body {
    background-image: url("./La\ Rustica.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    background-position-x: center;  
    background-position-y: top;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
  }
  h1{
    font-family: 'Times New Roman';
    text-align: center;
  }
  h2, h3, p, ul, li {
    text-align: center;
    font-family: 'Luxurious Roman', 'cursive';
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
    position: relative;
    bottom: 0;
    align-items: baseline;
  }
  ul.header {
    background-color: #1111116e;
    padding: 0;
  }
  ul.header li a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #ffffffd8;
    padding: 20px;
    width: 75%;
    margin: auto;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
  background-color: #b70f0f;
}